.avatar-online {
  border: 1px solid var(--text-white);
  box-shadow: var(--box-shadow);
}

.small {
  @include size(50px);
}

.smaller {
  @include size(40px);
}

.normal {
  @include size(60px);
}

.large {
  @include size(100px);
}

.online {
  position: relative !important;
  color: var(--second-color);
  overflow: unset !important;

  img {
    border-radius: 50%;
  }

  &::before {
    position: absolute;
    bottom: 15%;
    right: 15%;
    content: "";
    transform: translate(50%, 50%);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: var(--second-color);
  }
}
