:root {
  --main-bg: #ffffff;
  --main-sidebar-bg: #166e48;
  --second-bg: #fafafb;

  --text-white: #fff;
  --text-black: #000;
  --main-color: #019707;
  --second-color: #4caf50;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-light: #fff;
  --second-bg-light: #fafafb;
  --text-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --text-color-dark: #cccccc;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}