@import "./mixin";
@import "./variables";
@import "./sidebar";
@import "./message";
@import "./message-card";
@import "./send-message";
@import "./message-detail";
@import "./avatar-online";
@import "./conversation-card";
@import "./chat";
@import "./upload-image";
@import "./custom-dialog";
@import "./conversation-group";
@import "./authenticate";
@import "./user-search";
@import "./welcome";
@import "./profile";
@import "./upload-card";
@import "./list-upload-card";
@import "./upload-file-record";
@import "./video-call";
@import "./create-meeting";

.routes {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include flex(flex-start, flex-start);

  &-content {
    flex: 1;
    border-left: 1px solid var(--second-color);
    width: 100%;
    height: 100%;
  }
}

button {
  cursor: pointer;
}
